# These are definitions of ignored files 
*.toc
*.log
*.dvi
*.out
*.snm
*.nav
*.log
*.aux
*.blg
*.lof
*.pyc
__pycache__
*.coverage
*.[oa]    	      # No .o or .a files
*~		      # temp files
*.swap
*.nc
